*.suo
/Assets/UnityVS/
/Assets/UnityVS.meta
/Assets/AssetStoreTools/
/Assets/AssetStoreTools.meta
/Assets/Experilous/Documentation/**/*.7z
/Assets/Experilous/Documentation/**/*.zip
/Miscellaneous/Screenshots/
/Miscellaneous/Videos/
/Miscellaneous/Export Test/
/Miscellaneous/**/*.7z
/Miscellaneous/**/*.zip
*.pov.back
/Library/
/Temp/
/Build/?*/**/
/Packages/
/Assets/Experilous/Packages/
/Assets/Experilous/Packages.meta
/obj/
/Experilous/
*.sln
*.csproj
~$*.docx
~*.tmp
/Miscellaneous/C++/**/*.tlog
/Miscellaneous/C++/**/*.lastbuildstate
/Miscellaneous/C++/**/*.exe
/Miscellaneous/C++/**/*.ilk
/Miscellaneous/C++/**/*.log
/Miscellaneous/C++/**/*.pdb
/Miscellaneous/C++/**/*.obj
/Miscellaneous/C++/**/*.idb
/Miscellaneous/C++/**/*.sdf
/Miscellaneous/C++/**/*.user
/Miscellaneous/Archive*
/Miscellaneous/Archive/**
/Help/**/Build*
/Help/**/Build/**
/AssetStoreTools.dll
